.homeHeaderMenu{
    text-align: right;
    padding: 20px 0;
    .linkHeader{
        text-decoration: none;
        color: $bottom_header;
        font-family: $font-base;
        font-size: 14px;
        padding: 10px 5px;
        margin-left: 20px;
        font-weight: normal;
    }
    .linkHeader:last-of-type{
        border: 2px solid $background_section_statistic_border;
    }
    .linkHeader:hover{
        color: $border_bottom;
    }
}